.para1{
  background-color:aquamarine;
  font-style: oblique;
  font-weight:bolder;
  line-height: 2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




.para2 {
  background-color: lavenderblush;
  font-style: italic;
  font-size: large;
  color: crimson;
  line-height: 1.3;

}

/* hr {
  border-color:darkgreen;
  size:var(100);
  width: 80%;
  height:5px ;
} */
span{
  background-color: blueviolet;
  color: black;
}