.para1 {
  background-color: aquamarine;
  font-style: oblique;
  font-weight: bolder;
  line-height: 2;
}

/* html {
  background-image: url("wp2119210.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */




.para2 {
  background-color: lavenderblush;
  font-style: italic;
  font-size: large;
  color: crimson;
  line-height: 1.3;

}

/* hr {
  border-color:darkgreen;
  size:var(100);
  width: 80%;
  height:5px ;
} */
span {
  background-color: blueviolet;
  color: black;
}

div {
  width: 100%;
  height: 400px;
  background-image: url("wp2119210.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: larger;
  color:indigo;
}

.box {
  
  background-size: cover;
  
  background-repeat: no-repeat;
}
